NODE_ENV=development
GATEWAY_PORT=8080
AUTH_SERVICE_PORT=8081
USER_SERVICE_PORT=8082
SOCIAL_SERVICE_PORT=8083
POST_SERVICE_PORT=8084
ENGAGEMENT_SERVICE_PORT=8085
FEED_SERVICE_PORT=8086
MEDIA_SERVICE_PORT=8087
DB_HOST=postgres
DB_PORT=5432
DB_NAME=insta
DB_USER=insta
DB_PASSWORD=insta
JWT_SECRET=super-secret-key
ACCESS_TOKEN_TTL_SEC=3600
REFRESH_TOKEN_TTL_SEC=1209600
